<!DOCTYPE html>
<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
        }
    </style>
    <title>My Scripture Journal</title>
    <link href="~/Styles/Scriptures.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>My Scripture Journal</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year My Scripture Journal
        </div>
    </div>
</body>
</html>